{% extends "base.html" %}

{% block content %}

<section class="table-card">

  <div class="table-wrap">

    <table class="table">
  <thead>
    <tr>
      <th>Lp.</th>
      <th>Uczestnik</th>
      <th>Data ur.</th>
      <th>PESEL</th>
      <th>Tel. uczest.</th>
      <th>Adres</th>
      <th>Opiekun</th>
      <th>Tel. opiek.</th>
      <th>E-mail</th>
      <th>Uwagi</th>
      <th class="table-actions-head"></th>
    </tr>
  </thead>

  <tbody>
    {% for lead in leads %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ lead.participant_full_name }}</td>
      <td>{{ lead.birth_date }}</td>
      <td>{{ lead.pesel }}</td>
      <td>{{ lead.participant_phone }}</td>
      <td>{{ lead.address }} {{ lead.city_postal_code }}</td>
      <td>{{ lead.guardian_full_name }}</td>
      <td>{{ lead.guardian_phone }}</td>
      <td>{{ lead.guardian_email }}</td>
      <td>{{ lead.notes }}</td>

      <td class="table-actions">
        <form
          method="POST"
          action="{{ url_for('delete_lead', lead_id=lead.id) }}"
          onsubmit="return confirm('Usunąć to zgłoszenie?');"
        >
          <button type="submit" class="table-icon-btn" title="Usuń">
            <i class="bi bi-trash"></i>
          </button>
        </form>
      </td>
    </tr>
    {% else %}
    <tr class="empty-row">
      <td colspan="11">
        Brak zgłoszeń.
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

  </div>

</section>

{% endblock %}