{% extends "base.html" %}

{% block content %}

<section class="login-page">

  <div class="login-card login-card-wide">

    <div class="login-brand">
      Pod Wiatr
    </div>

    <p class="login-subtitle">
      Link resetujący został przygotowany
    </p>

    <div class="login-success-box">

      <p>
        Konto:
      </p>

      <strong>
        {{ email }}
      </strong>

      <p>
        Skopiuj poniższy link i wyślij go użytkownikowi.
        Link jest ważny przez 2 godziny.
      </p>

    </div>

    <div class="token-box">
      {{ reset_link }}
    </div>

    <a
      href="{{ url_for('login') }}"
      class="login-submit login-link-button"
    >
      <i class="bi bi-box-arrow-in-right"></i>
      Wróć do logowania
    </a>

  </div>

</section>

{% endblock %}